version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - FIXER_API_KEY=${FIXER_API_KEY}
      - EXCHANGERATES_API_KEY=${EXCHANGERATES_API_KEY}
      - CURRENCYAPI_KEY=${CURRENCYAPI_KEY}
    networks:
      - currency-network

networks:
  currency-network:
    driver: bridge
