server:
  port: 8084

spring:
  application:
    name: analytics-service

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    open-in-view: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    org.example.analyticsservice: INFO
    org.springframework.web: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

services:
  user-service:
    url: ${USER_SERVICE_URL:http://localhost:8083}
